@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-size: 20px;
  height: 100%;
  background-color: #DDD5D3;
  margin: 0px;
  padding: 0px;
}

main {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

p {
  text-indent: 40px;
  color: #2F362F;
  font-size: 75%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 0.909);
  padding: 8px;
  border-radius: 10px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 160%;
}

h2 {
  color:white;
  float: left;
  margin-left: 30px;
  margin-bottom: 0px;
  margin-top: 11.5px;
  font-family: 'Playfair Display', serif;
  font-size: large;
}

#photoTextBox {
  display: flex;
  gap: 10%;
  align-items: center;
}


#image {
  outline: solid medium rgba(255, 255, 255, 0.909);
  outline-offset: 7px;
}

#updown{
  display: flex;
  flex-direction: column;
  gap: 10%;
}


/* -------------- Navigation Bar on Top of All the Pages -------------- */
.navbar {
  font-family: 'Playfair Display', serif;
  overflow: hidden;
  background-color: #74665C;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 70%;
}

/* links inside */
.navbar a { 
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* change background on mouse-over */
.navbar a:hover { 
  background: #87766a;
  color: #DBFCDB;
}

/* -------------- Side Bars on All the Pages --------------
.sidebarL {
  border-left: 3em solid #9f8c7e;
  height: 100%;
  position: absolute;
  margin-top: 49px;
  top: 0;
}

.sidebarR {
  border-right: 3em solid #9f8c7e;
  left: 92.3%;
  height: 100%;
  position: absolute;
  margin-top: 49px;
  top: 0;
} */

/* -------------- Banner on Orienteering Page -------------- */
.banner-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/oringen-map.jpg");
  /* height: 20%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 46px;
  margin-left: 0%;
  margin-right: 0%;
}

.banner-text {
  text-align: center;
  padding: 15px 0px 10px 0px;
  color: rgb(232, 228, 228);
}