body {
  font-size: 100%;
  background-color: #DDD5D3;
}

p {
  text-indent: 40px;
  color: #2F362F;
  font-size: small;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}


/* the navigation bar */
.navbar {
  font-family: 'Playfair Display', serif;
  overflow: hidden;
  background-color: #74665C;
  position: fixed;
  top: 0;
  margin-left: -8px;
  width: 100%;
}

/* links inside */
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;;
}

/* change background on mouse-over */
.navbar a:hover {
  background: #87766a;
  color: #DBFCDB;
}

/* main content */
.main {
  margin-top: 100px;
  margin-left: 50px;
}

img {
  height: 25em;
  background: #eaeaed;
  float: right;
  margin: -20px 30px 0 20px;
}