p {
  text-indent: 40px;
}

/* the navigation bar */
.navbar {
  overflow: hidden;
  background-color: #bcbcf7;
  position: fixed;
  top: 0;
  width: 100%;
}

/* links inside */
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;;
}

/* change background on mouse-over */
.navbar a:hover {
  background: #c4c4fc;
  color: gray;
}

/* main content */
.main {
  margin-top: 60px;
}

img {
  height: 250px;
  background: #eaeaed;
  float: right;
  margin: 20px 30px 0 20px;
}